body {
    margin: 0;
    padding: 0;
}

#content {
    display: inline-block;
    position: relative;
}

#pause_button {
    position: absolute;
    right: 0;
    z-index: 1000;
}

#game, .modal_canvas_message {
    width: 480px;
    height: 600px;
}

.modal_canvas_message {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    font-family: Helvetica, sans-serif;
    text-shadow: 0 0 .4em black;
    color: white;
    font-size: 20pt;    
    font-weight: bold;
}

.modal_canvas_message .message_content {
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal_canvas_message .message_content a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 .4em yellow;
}

#pause_menu.modal_canvas_message .message_content {
    margin-top: -.5em;
    margin-left: -3.5em;
}

#loose_menu.modal_canvas_message .message_content {
    margin-top: -.5em;
    margin-left: -3em;
}

#win_menu.modal_canvas_message .message_content {
    margin-top: -.5em;
    margin-left: -3em;
    text-align: center;
}
